@font-face {
    font-family: 'Gotham Rounded';
    src: url('../fonts/GothamRounded-Medium.otf') format('otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    font-family: 'Gotham Rounded', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    --orange: #f25652;
    --orange-85: #f25752da;
    --soft-white: #f2f3f6;
    --soft-gray: #e8eaef;
    --custom-gray: #9ba3aa;
    --dark-gray: #424649;
    --dark-gray-85: #424649d8;
    --box-shadow: 3px 9px 9px 0px rgba(199, 199, 199, 0.45);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: var(--soft-gray);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    overflow-clip-margin: 10px;
}

.value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    margin-bottom: 16px;
    color: var(--dark-gray);
}

.number {
    font-size: 28px;
}

.point {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    margin-top: 16px;
    margin-bottom: 20px;
    background: var(--orange);
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
}

.spinner-thick {
    --rotation: 0deg;
    height: 32px;
    width: 4px;
    border-radius: 12px;
    position: absolute;
    transform-origin: bottom center;
    transform: rotate(calc(var(--initial-rotation) + var(--rotation)))
        translateY(-25vh);
    transition: transform 0.3s ease;
    background-color: var(--custom-gray);
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.operation-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

button {
    border: none;
    border-radius: 12px;
    padding: 16px;
    font-size: 56px;

    color: var(--soft-white);
    background: var(--orange);
    box-shadow: var(--box-shadow);
    touch-action: manipulation;
}

.reset-btn {
    background: var(--dark-gray);
    font-size: 44px;
}

button:hover {
    cursor: pointer;
    background: var(--orange-85);
}

.reset-btn:hover {
    background: var(--dark-gray-85);
}

@media screen and (min-width: 320px) {
    .container {
        height: 95%;
        width: 80%;
        border-radius: 12px;
        justify-content: center;
        background: var(--soft-white);
        box-shadow: var(--box-shadow);
    }

    h1 {
        padding: 8px;
        border-radius: 8px;
        font-size: 24px;
        color: var(--orange);
        background: var(--soft-gray);
    }

    .number {
        font-size: 48px;
    }

    .spinner-thick {
        height: 20px;
        transform: rotate(calc(var(--initial-rotation) + var(--rotation)))
            translateY(-40vh);
    }

    .buttons {
        flex-direction: column;
        margin-top: 120px;
        width: 60%;
        max-width: 280px;
        justify-content: center;
    }

    .reset-btn {
        font-size: 32px;
    }

    .operation-buttons {
        display: flex;
        flex-direction: row;
        max-width: 280px;
    }

    .operation-buttons button {
        width: 50%;
        font-size: 32px;
    }
}

@media screen and (min-width: 360px) {
    .point {
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 768px) {
    .spinner-thick {
        transition: transform 0.2s ease;
    }

    .number {
        font-size: 60px;
    }

    .buttons {
        gap: 24px;
    }

    button {
        font-size: 96px;
    }
}
